
:root {
    --background-dark-blue: rgb(22, 33, 46);
    --box-color: rgb(39, 65, 86);
    --text-color:  rgb(103, 193, 235);
    --button-color: rgb(83, 157, 199);
}

.columns {
    background-color: var(--background-dark-blue);
    color: white;
}

.news-card {
    background-color: rgba(192, 189, 189, 0.774);
    color:lightcyan;
    padding:0 0.5rem;
}

.is-size-3 {
    color:white;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}