:root {
    --background-dark-blue: rgb(22, 33, 46);
    --box-color: rgb(39, 65, 86);
    --text-color:  rgb(103, 193, 235);
    --button-color: rgb(83, 157, 199);
}
a {
    color: rgb(141, 157, 250);
}
a:hover {
    color: rgb(186, 194, 243);
}
html {
    height: 100%;
    background-color: var(--background-dark-blue);
}

body {
    height: 100%;
    
}
.modal-card-head {
    background-color: var(--box-color);
    border-bottom: 1px solid var(--background-dark-blue);
}

.modal-card-title {
    background-color: var(--box-color);
    color: white;
}

.modal-card-foot {
    background-color: var(--box-color);
    border-top: 1px solid var(--background-dark-blue);
}

.modal-card-body {
    color: var(--text-color);
    background-color: var(--box-color);
}

.modal-button {
    background-color: var(--button-color);
    color: white;
}

.user-submit{
    background-color: var(--button-color);
    color: white;
    width:50%;
    margin: 0 auto;
}

.modal-open{
    background-color: var(--button-color);
    color: white;
}

.image {
    border: 1px solid white
}

.page-button:hover {
    background-color: rgb(117, 188, 230);
}