:root {
    --background-dark-blue: rgb(22, 33, 46);
    --box-color: rgb(39, 65, 86);
    --text-color:  rgb(103, 193, 235);
    --button-color: rgb(83, 157, 199);
}

html {
    height: 100%;
    background-color: var(--background-dark-blue);
}

body {
    height: 100%;
    
}

.user-submit{
    background-color: var(--button-color);
    color: white;
    width:50%;
    margin: 0 auto;
}

.modal-open{
    background-color: var(--button-color);
    color: white;
}

.image {
    border: 1px solid white
}


.page-button:hover {
    background-color: rgb(117, 188, 230);
}